body {
    padding: 0;
    margin: 0;
    display: flex;
}
.left {
    background: url(clayton-cardinalli-ls03C02UsGg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 1500px;
    height: 907px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}
.inside {
    display: flex;
    align-items: center;
    margin-top: 500px;
    width: 100%;
    height: 130px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo > .inside > label {
    color: white;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.right {
    display: flex;
    flex-direction: column;
}
.words {
    padding: 40px;
    margin-left: 70px;
}
.words > p {
    font-size: 30px;
    font-weight: bold;
}
input {
    width: 400px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px #E5E7EB;
    outline: none;
    box-shadow: 0 0 5px rgb(117, 112, 112);
}
.form {
    box-shadow: 0 0 010px rgb(172, 152, 152);
    height: 380px;
}
.form > h1 {
    margin-left: 80px;
    padding-left: 40px;
}
.signup {
    display: flex;
    flex-direction: right;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.last {
    margin-left: 120px;
    margin-top: 30px;
    height: fit-content;
}
.last > p {
    margin-top: 30px;
    font-size: 20px;
}
.last > p > a {
    text-decoration: none;
    color: #596D48;
}
button {
    width: 300px;
    height: 50px;
    border-radius: 12px;
    color: white;
    font-size: 25px;
    background-color: #596D48;
    border: none;
}
.fn {
    margin-bottom: 30px;
}
.fn > input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px rgb(117, 112, 112);
}
.ln {
    margin-bottom: 30px;
}
.ln > input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px rgb(117, 112, 112);
}
.email {
    margin-bottom: 30px;
}
.email > input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px rgb(117, 112, 112);
}
.pn {
    margin-bottom: 30px;
}
.pn > input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px rgb(117, 112, 112);
}
input:invalid {
    box-shadow: 0 0 0 1px red;
}
.error {
    color: red;
    margin-left: 660px;
}